langchain==0.0.150
pypdf
pandas
matplotlib
tiktoken
textract
transformers
openai
faiss-cpu
streamlit
streamlit-extras
PyPDF2==3.0.1
python-dotenv==1.0.0
s3fs
git+https://github.com/streamlit/files-connection
